---
import Layout from "../layouts/Layout.astro";
import { data } from "../scripts/data";
---

<Layout uid="home" template="home">
  <div class="container__home">
    <a href={`/${data[0].slug}`} class="grid__item pos_1_1">
      <img loading="eager" src={`/images/${data[0].slug}/image-1.jpg`} alt="" />
    </a>
    <a href={`/${data[1].slug}`} class="grid__item pos_1_5">
      <img loading="eager" src={`/images/${data[1].slug}/image-1.jpg`} alt="" />
    </a>
    <a href={`/${data[2].slug}`} class="grid__item pos_2_3">
      <img loading="eager" src={`/images/${data[2].slug}/image-1.jpg`} alt="" />
    </a>
    <a href={`/${data[3].slug}`} class="grid__item pos_2_7">
      <img loading="eager" src={`/images/${data[3].slug}/image-1.jpg`} alt="" />
    </a>
    <a href={`/${data[4].slug}`} class="grid__item pos_3_2">
      <img loading="eager" src={`/images/${data[4].slug}/image-1.jpg`} alt="" />
    </a>
    <a href={`/${data[5].slug}`} class="grid__item pos_3_4">
      <img loading="eager" src={`/images/${data[5].slug}/image-1.jpg`} alt="" />
    </a>
    <a href={`/${data[6].slug}`} class="grid__item pos_4_6">
      <img loading="eager" src={`/images/${data[6].slug}/image-1.jpg`} alt="" />
    </a>
  </div>
</Layout>
